* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: #f4f4f4;
  font-family: var(--font-family);
}

@font-face {
  font-family: "Monserrat";
  src: url(../tipografia/Montserrat-Italic-VariableFont_wght.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monserrat";
  src: url(../tipografia/Montserrat-Italic-VariableFont_wght.ttf);
  font-weight: 800;
  font-style: normal;
}

:root {
  --main-color-grey: #737a82;
  --main-color-aqua-green: #2ed9ad;
  --main-color-yellow: #cbb32b;
  --main-color-black: #000000;
  --font-family: "Monserrat";
}

::selection {
  background: var(--main-color-yellow);
  /*Color naranja para el fondo*/
  color: var(--main-color-black);
}

#headerContainer {
  display: flex;
  width: 100%;
  height: 20vh;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 10000;
}

#logoImg {
  width: 200px;
  height: 200px;
}

#navMenu {
  display: flex;
}

#navMenu::before {
  display: none;
}

#navMenu ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  margin-right: 1rem;
}

#navMenu ul li {
  position: relative;
}

#navMenu ul li a {
  text-decoration: none;
  color: #f4f4f4;
  font-size: 1.2rem;
  position: relative;
}

#navMenu ul li a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: var(--main-color-aqua-green);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease;
}

#navMenu ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#navIcon {
  display: none;
  font-size: 2em;
  cursor: pointer;
}

#closeNavIcon {
  display: none;
}

#heroContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  height: 70vh;
  text-align: center;
}

#leftHero,
#rightHero {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  padding: 0 2rem;
  position: relative;
  overflow: hidden;
}

#leftHero p,
#rightHero p {
  padding: 0 15%;
  line-height: 1.5;
}

#leftHero::before,
#rightHero::before {
  content: "";
  position: absolute;
  width: 220px;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.6;
  z-index: 1000;
}

#leftHero::before {
  background-image: url("../ilustraciones/flecha-circular-celeste.svg");
  text-align: center;
}

#rightHero::before {
  background-image: url("../ilustraciones/escudo-con-ranura-llave-celeste.svg");
  text-align: center;
}

#centerHero {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-color-yellow);
  font-weight: 900;
  padding: 0 2rem;
}

#centerHero::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.1;
  z-index: 100;
}

#centerHero::before {
  background-image: url("../ilustraciones/caja-con-circulo-central.svg");
  text-align: center;
  animation: heroImgAnim 2s ease-in-out forwards;
}

@keyframes heroImgAnim {
  from {
    transform: scale(0.8);
    transform: translateY(50px);
  }

  to {
    transform: scale(1);
    transform: translateY(0);
  }
}

#centerHero h2 {
  background-color: transparent;
  color: var(--main-color-black);
  padding: 0 8%;
  font-size: 1.2rem;
  font-weight: 800;
  line-height: 1.2;
}

#heroKeywords {
  font-size: 1.4rem;
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
}

#heroSmallwords {
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
}

#centerHero p {
  background-color: transparent;
  color: #000000e4;
  font-size: 0.8rem;
}

#spanContacto {
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
}

#centerHero button {
  display: flex;
  width: 80%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: var(--main-color-black);
  padding: 1rem 2rem;
  text-align: center;
  color: var(--main-color-yellow);
  cursor: pointer;
  z-index: 100;
  font-size: 1rem;
}

#mobileHero {
  display: none;
}

#estadisticasContainer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60vh;
  background-color: var(--main-color-yellow);
}

.counters {
  text-align: center;
  background-color: var(--main-color-yellow);
}

.counters>div {
  margin: 0 auto;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem 8%;
  background-color: var(--main-color-yellow);
}

.counter {
  position: relative;
  background-color: var(--main-color-yellow);
}

.counterText {
  font-size: 1rem;
  text-align: center;
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
  margin-top: 1rem;
}

.counterNumber {
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
}

.counterNumber span {
  font-size: 4rem;
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
}

.counter:not(:last-child)::before {
  content: "";
  position: absolute;
  width: 3px;
  height: 3em;
  top: 40%;
  right: -3em;
  transform: translateY(-50%);
  background-color: var(--main-color-black);
}

#estadisticasMercadoLubricantes {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--main-color-yellow);
}

#lubricantesContainer {
  display: flex;
  flex-flow: row;
  align-items: start;
  justify-content: center;
  width: 80%;
  height: 50vh;
  padding-top: 5%;
  background-color: var(--main-color-yellow);
}

.lubricantesSides {
  width: 20%;
  background-color: var(--main-color-yellow);
}

.lubricantesSides p {
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
  line-height: 1.4;
  font-size: 1.2rem;
  text-align: center;
}

.lubricantesMain {
  position: relative;
  width: 60%;
  height: 200px;
  display: flex;
  flex-flow: row;
  align-items: end;
  justify-content: space-evenly;
  background-color: var(--main-color-yellow);
}

#graficoTitle {
  position: absolute;
  bottom: -45%;
  z-index: 1000;
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
  opacity: 0.3;
  font-size: 1rem;
  text-align: center;
}

.lubricantesMain::after {
  content: "";
  position: absolute;
  top: 0;
  width: 60%;
  height: 4px;
  border-top: 4px dashed var(--main-color-aqua-green);
}

.lubricantesMain::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 60%;
  height: 4px;
  background-color: var(--main-color-black);
}

#lubricantes24 {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  width: 15%;
  height: 0;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--main-color-aqua-green);
}

#lubricantes24::before {
  content: "2024";
  position: absolute;
  bottom: -2rem;
  color: var(--main-color-black);
}

#lubricantes29 {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-end;
  width: 15%;
  height: 0;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--main-color-aqua-green);
}

#lubricantes29::before {
  content: "2029";
  position: absolute;
  bottom: -2rem;
  color: var(--main-color-black);
}

.animate-lubricantes {
  animation: subida24 1.5s ease-in-out forwards;
}

@keyframes subida24 {
  from {
    height: 0;
  }

  to {
    height: 100%;
  }
}

.animate-lubricantes-29 {
  animation: subida29 1.5s ease-in-out forwards;
}

@keyframes subida29 {
  from {
    height: 0;
  }

  to {
    height: 130%;
  }
}

#filosofia {
  position: relative;
  display: flex;
  width: 100%;
  height: 90vh;
  flex-flow: column;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  background-color: var(--main-color-yellow);
}

#filosofia p {
  position: relative;
  display: flex;
  width: 70%;
  padding: 10%;
  flex-flow: column;
  align-items: center;
  justify-content: start;
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.4;
}

#filosofiaText::before {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  background-image: url("../logo/logo-huella.webp");
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
}

#servicios {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}

#serviciosTitleContainer {
  display: flex;
  width: 100%;
  flex-flow: column;
  align-items: baseline;
  justify-content: center;
  overflow: hidden;
}

#serviciosTitle {
  color: var(--main-color-yellow);
  font-size: 1.6rem;
  line-height: 1.2;
  margin: 2rem 0 1rem 0;
  margin-top: 10vh;
  padding: 0 10%;
}

#serviciosTextContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  width: 100%;
  gap: 3rem;
  padding: 0 10%;
  margin-top: 5rem;
}

.serviciosText {
  color: var(--main-color-grey);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}

#blockchainInfoContainer {
  display: flex;
  width: 100%;
  height: 80vh;
  flex-flow: column;
  align-items: start;
  justify-self: center;
  padding: 0 10%;
  margin-top: 15vh;
}

#blockchainInfoTitleContainer p {
  color: var(--main-color-yellow);
  font-size: 1.6rem;
  line-height: 1.2;
}

#blockchainInfoTextContainer {
  display: flex;
  flex-flow: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  margin-top: 3rem;
}

.blockchainInfoText {
  width: 32%;
}

.blockchainInfoText p {
  color: var(--main-color-grey);
  font-size: 1.2rem;
  line-height: 1.2;
}

#blockchainImgContainer{
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#serviciosGrid {
  display: flex;
  width: 80%;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  padding: 10% 0;
}

.serviciosItem {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 0 5%;
  margin: 0 1rem;
}

.serviciosItem::before {
  content: "";
  width: 180px;
  height: 180px;
  position: absolute;
  top: -1.4rem;
  clip-path: polygon(30% 0%,
      70% 0%,
      /* Top side */
      100% 30%,
      100% 70%,
      /* Right side */
      70% 100%,
      30% 100%,
      /* Bottom side */
      0% 70%,
      0% 30%
      /* Left side */
    );
  background-color: var(--main-color-black);
  z-index: 10;
}

.serviciosItem::after {
  content: "";
  width: 187px;
  height: 187px;
  position: absolute;
  top: -1.6rem;
  clip-path: polygon(30% 0%,
      70% 0%,
      /* Top side */
      100% 30%,
      100% 70%,
      /* Right side */
      70% 100%,
      30% 100%,
      /* Bottom side */
      0% 70%,
      0% 30%
      /* Left side */
    );
  background-color: var(--main-color-yellow);
  z-index: 1;
}

.serviciosItem h4 {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.1;
  margin: 5rem 0 0.5rem 0;
  color: var(--main-color-yellow);
}

.serviciosItem p {
  text-align: center;
  font-size: 1rem;
  line-height: 1.1;
  color: var(--main-color-black);
  background-color: var(--main-color-yellow);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

.serviciosItem img {
  width: 100px;
  z-index: 1000;
  background-color: transparent;
  margin-top: 1rem;
}

.serviciosItem {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 5%;
}

.toggleButton {
  opacity: 0;
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
  border: none;
  width: 36px;
  height: 36px;
  font-size: 26px;
  font-family: sans-serif, Arial;
  text-align: center;
  line-height: 30px;
  /* Centra el texto verticalmente */
  cursor: pointer;
  margin-top: 1rem;
  /* Espacio entre el título y el botón */
  transition: transform 0.4s ease, background-color 0.4s ease, opacity 1s ease;
  clip-path: polygon(30% 0%,
      70% 0%,
      100% 30%,
      100% 70%,
      70% 100%,
      30% 100%,
      0% 70%,
      0% 30%);
  transform: rotate(0deg);
  /* Ángulo de rotación inicial */
}

.toggleButton.open {
  transform: rotate(45deg);
  /* Rota el botón 45 grados al abrir */
}

.serviciosItemsText {
  position: absolute;
  /* Posiciona el contenido desplegable de manera absoluta */
  top: 100%;
  /* Justo debajo del botón */
  left: 0;
  width: 100%;
  max-height: 0;
  /* Oculto inicialmente */
  opacity: 0;
  overflow: hidden;
  background-color: var(--main-color-yellow);
  /* Asegura visibilidad del contenido */
  padding: 0 1rem;
  /* Opcional: Ajusta el espaciado del contenido */
  box-sizing: border-box;
  transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
  height: 300px;
  /* Altura fija para el contenido desplegable */
  z-index: 1;
  /* Asegura que el contenido esté sobre otros elementos */
}

.serviciosItem.open .serviciosItemsText {
  max-height: 300px;
  /* Altura máxima fija cuando se despliega */
  opacity: 1;
}

.toggleButton.open::before {
  content: "";
}

.toggleButton::before {
  content: "";
}

.serviciosItemsText {
  display: block;
  max-height: 0;
  /* Oculto inicialmente */
  opacity: 0;
  transition: max-height 1s ease-out, opacity 1s ease-out;
  overflow: hidden;
}

.serviciosItem.open .serviciosItemsText {
  max-height: 300px;
  /* Ajusta según el tamaño máximo esperado */
  opacity: 1;
}

#valores {
  position: relative;
  background-color: var(--main-color-black);
  width: 100%;
  height: 140vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50vh;
}

#valoresTitle {
  color: var(--main-color-yellow);
  font-size: 5rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
  margin-top: 10vh;
}

#valoresText {
  color: var(--main-color-grey);
  font-size: 1.2rem;
  padding: 0 20%;
  text-align: center;
  line-height: 1.2;
}

#valoresGrid {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin-top: 5rem;
}

.valoresItem {
  display: flex;
  width: 33%;
  /* Ajusta el tamaño según sea necesario */
  height: 100%;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.valoresItem h3 {
  color: var(--main-color-yellow);
  padding: 1rem 0 0.5rem 0;
  font-size: 1.2rem;
}

.valoresItem p {
  color: var(--main-color-yellow);
  padding: 0 10%;
  font-size: 1rem;
  line-height: 1.2;
}

.valoresIcon {
  width: 120px;
  height: 100px;
}

/* Para centrar los últimos dos elementos */
.valoresItem:nth-last-child(-n + 2) {
  flex-basis: 45%;
  /* Ajusta el tamaño para centrar los últimos dos elementos */
}

.valoresIcon {
  /* Initial state */
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  opacity: 0;
  transform: scale(0.6);
}

.animate-icon {
  /* Example animation: scale up and fade in */
  transform: scale(1);
  opacity: 1;
  animation: valoresIconAnim 1s ease-in-out forwards;
}

#contactoContainer {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 190vh;
  margin-top: 50vh;
  margin-bottom: 25vh;
}

#contactoTitle {
  color: var(--main-color-yellow);
  font-size: 5rem;
  margin: 2rem 0 1rem 0;
  text-align: center;
}

#contactoText {
  color: var(--main-color-grey);
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

#contactoInfo {
  display: flex;
  flex-flow: row;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  width: 60%;
  height: 30%;
  margin-top: 10vh;
}

#contactoInfo h4 {
  margin: 1rem 0 0.5rem 0;
  color: var(--main-color-yellow);
  font-size: 1.2rem;
}

#contactoInfo p {
  font-size: 1rem;
  color: var(--main-color-yellow);
}

#infoEmail,
#infoPhone,
#infoAddress {
  position: relative;
  width: 200px;
}

#infoEmail::after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: -150%;
  left: 30%;
  background-color: var(--main-color-yellow);
  background-image: url(../icons/email.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  clip-path: polygon(30% 0%,
      70% 0%,
      /* Top side */
      100% 30%,
      100% 70%,
      /* Right side */
      70% 100%,
      30% 100%,
      /* Bottom side */
      0% 70%,
      0% 30%
      /* Left side */
    );
}

#infoPhone::after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: -150%;
  left: 30%;
  background-color: var(--main-color-yellow);
  background-color: var(--main-color-yellow);
  background-image: url(../icons/phone.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  clip-path: polygon(30% 0%,
      70% 0%,
      /* Top side */
      100% 30%,
      100% 70%,
      /* Right side */
      70% 100%,
      30% 100%,
      /* Bottom side */
      0% 70%,
      0% 30%
      /* Left side */
    );
}

#infoAddress::after {
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  top: -150%;
  left: 30%;
  background-color: var(--main-color-yellow);
  background-color: var(--main-color-yellow);
  background-image: url(../icons/location.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  clip-path: polygon(30% 0%,
      70% 0%,
      /* Top side */
      100% 30%,
      100% 70%,
      /* Right side */
      70% 100%,
      30% 100%,
      /* Bottom side */
      0% 70%,
      0% 30%
      /* Left side */
    );
}

#infoEmail::after,
#infoPhone::after,
#infoAddress::after {
  content: "";
  display: block;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 2s, transform 2s;
}

#infoEmail.animate-info::after,
#infoPhone.animate-info::after,
#infoAddress.animate-info::after {
  opacity: 1;
  transform: translateY(0);
}

#contactoForm {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#formTitle {
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--main-color-yellow);
  margin-top: 5rem;
}

#main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 70vh;
  margin: 5rem 0 0 0;
  background-color: var(--main-color-black);
  font-family: Arial, sans-serif;
}

.container {
  display: block;
  width: 100%;
  background-color: var(--main-color-black);
  margin-top: 5rem;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.5rem;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--main-color-yellow);
}

.input-field,
.textarea-field {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid var(--main-color-yellow);
  color: var(--main-color-yellow);
  margin-top: 0.5rem;
}

.textarea-field {
  resize: none;
  height: 150px;
}

.submit-button {
  padding: 10px 15px;
  background-color: var(--main-color-yellow);
  color: var(--main-color-black);
  border: none;
  cursor: pointer;
  height: 4rem;
  transition: 0.6s;
}

.submit-button:hover {
  background-color: #2ed9ad;
  transition: 0.2s;
}

@keyframes valoresIconAnim {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-20px);
  }
}

#footerContainer {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 40vh;
  align-items: center;
  justify-content: space-around;
  background-color: var(--main-color-yellow);
  margin-top: 10vh;
  padding: 0 5%;
  overflow: hidden;
}

#footerLinks {
  display: flex;
  flex-flow: column;
  align-items: baseline;
  justify-content: center;
  width: 50%;
  background-color: var(--main-color-yellow);
}

#footerLinks ul {
  background-color: var(--main-color-yellow);
}

#footerLinks ul li {
  list-style: none;
  background-color: var(--main-color-yellow);
  display: flex;
  flex-flow: column;
  align-items: baseline;
  margin: 1rem 0;
}

#footerLinks ul li a {
  color: var(--main-color-black);
  text-decoration: none;
  font-size: 1rem;
  position: relative;
  width: 100%;
  padding: 0.2rem 0.5rem;
}

#footerLinks ul li a::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--main-color-aqua-green);
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s ease;
}

#footerLinks ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#footerLogo {
  display: flex;
  flex-flow: column;
  align-items: flex-end;
  justify-content: center;
  width: 50%;
  background-color: var(--main-color-yellow);
}

#footerLogo img {
  background-color: var(--main-color-yellow);
  width: 150px;
}

@media screen and (max-width: 700px) {
  #logoImg {
    width: 200px;
    height: auto;
  }

  #navMenu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 200px;
    background-color: var(--main-color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    transition: right 0.3s ease;
    padding: 5rem 0;
    z-index: 10000;
  }

  #navMenu::before {
    display: block;
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    top: 50%;
    background-image: url("../logo/logo-todo-blanco.svg");
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 1000;
  }

  #navMenu ul {
    flex-direction: column;
    gap: 20px;
  }

  #navMenu ul li a {
    font-size: 1rem;
  }

  #navIcon {
    display: block;
    z-index: 1000;
  }

  #closeNavIcon {
    display: block;
    font-size: 1rem;
  }

  #navMenu.active {
    right: 0;
  }

  #heroContainer {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    width: 100%;
    height: 220vh;
    text-align: center;
    align-items: end;
    margin-bottom: 10rem;
  }

  #centerHero {
    grid-area: 1 / 1;
    height: 80vh;
  }

  #centerHero::before {
    width: 100%;
    height: 100%;
  }

  #centerHero h2 {
    padding: 0 0;
    font-size: 1rem;
  }

  #heroKeywords {
    font-size: 1.2rem;
  }

  #centerHero p {
    font-size: 0.8rem;
    filter: grayscale(1);
  }

  #leftHero {
    margin-top: 6rem;
  }

  #leftHero,
  #rightHero {
    justify-content: flex-end;
    font-size: 1.1rem;
    height: 20vh;
    overflow: visible;
    padding: 5% 0;
  }

  #leftHero::before,
  #rightHero::before {
    opacity: 0.1;
    top: -80%;
  }

  #leftHero p,
  #rightHero p {
    padding: 0 5%;
  }

  #mobileHero {
    display: flex;
    width: 100%;
    height: 30vh;
    flex-flow: column;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.1rem;
    padding: 0% 5%;
    position: relative;
    overflow: visible;
  }

  #mobileHero p {
    line-height: 1.5;
  }

  #mobileHero::before {
    content: "";
    position: absolute;
    width: 180px;
    height: 100%;
    top: -40%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.6;
    z-index: 1000;
  }

  #mobileHero::before {
    background-image: url("../ilustraciones/nodos-en-subida-celeste.svg");
    text-align: center;
  }

  #leftHero::before,
  #rightHero::before,
  #mobileHero::before,
  #filosofiaText::before {
    opacity: 0;
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      scale: 0.8;
      transform: translateY(50px);
    }

    to {
      opacity: 0.5;
      scale: 1;
      transform: translateY(0);
    }
  }

  .animate-left::before,
  .animate-right::before,
  .animate-mobile::before {
    animation: fadeIn 1.2s ease-out forwards;
  }

  .animate-filosofia::before {
    animation: fadeInFilosofia 1.2s ease-out forwards;
  }

  @keyframes fadeInFilosofia {
    from {
      opacity: 0;
      scale: 0.8;
      transform: translateY(50px);
    }

    to {
      opacity: 1;
      scale: 1;
      transform: translateY(0);
    }
  }

  #estadisticasContainer {
    padding-top: 5rem;
    height: 100vh;
  }

  .counters>div {
    grid-template-columns: 1fr;
    row-gap: 5em;
  }

  .counter:not(:last-child)::before {
    width: 90%;
    height: 2px;
    top: initial;
    right: initial;
    left: 50%;
    bottom: -3em;
    transform: translateX(-50%);
  }

  .counterNumber span {
    font-size: 3rem;
  }

  #lubricantesContainer {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80vh;
    background-color: var(--main-color-yellow);
    margin-bottom: 5rem;
  }

  #graficoTitle {
    bottom: -50%;
  }

  .lubricantesMain {
    width: 100%;
    order: 2;
    margin-top: 3rem;
  }

  .lubricantesMain::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 90%;
  }

  .lubricantesMain::after {
    content: "";
    position: absolute;
    top: 0;
    width: 90%;
  }

  #lubricantes24 {
    width: 30%;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  #lubricantes29 {
    width: 30%;
    padding-bottom: 1rem;
    font-size: 1.5rem;
  }

  .lubricantesSides {
    width: 90%;
    order: 1;
    margin-bottom: 3rem;
  }

  .lubricantesSides:last-of-type {
    display: none;
  }

  #filosofia {
    height: 50vh;
    text-align: center;
    justify-content: flex-start;
    background-color: var(--main-color-yellow);
  }

  #filosofia p {
    width: 95%;
    padding: 0 5%;
    font-size: 1rem;
    margin-top: 3rem;
  }

  #filosofiaText::before {
    width: 250px;
    height: 250px;
    top: 70%;
  }

  #serviciosTextContainer {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    width: 100%;
    gap: 3rem;
    padding: 0 10%;
    margin-top: 5rem;
  }

  #blockchainInfoContainer {
    height: 120vh;
    flex-flow: column;
  }

  #blockchainInfoTitleContainer p {
    font-size: 1.4rem;
  }

  #blockchainInfoTextContainer {
    flex-flow: column;
  }

  .blockchainInfoText {
    width: 100%;
  }

  .blockchainInfoText p {
    margin: 1rem 0;
  }

  #serviciosGrid {
    width: 100%;
    flex-flow: column;
  }

  .serviciosItem {
    margin: 5% 0;
    margin-bottom: 250px;
  }

  .serviciosText {
    margin-bottom: 0;
  }

  .serviciosItem p {
    padding: 1rem 0;
  }

  #valores {
    position: relative;
    background-color: var(--main-color-black);
    width: 100%;
    height: 100%;
    margin-bottom: 25vh;
  }

  #valoresGrid {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }

  .valoresItem {
    width: 90%;
    padding: 0 0;
    margin: 5% 0;
    padding: 5% 0;
  }

  .valoresItem h3 {
    font-size: 1rem;
  }

  .valoresItem p {
    padding: 0 10%;
    font-size: 0.8rem;
  }

  .valoresIcon {
    width: 100px;
    height: 90px;
  }

  .valoresIcon {
    /* Initial state */
    transition: transform 1.5s ease-in-out, opacity 1.5s ease-in-out;
  }

  #contactoContainer {
    height: 200vh;
    margin-top: 0;
    justify-content: flex-start;
  }

  #contactoInfo {
    display: flex;
    flex-flow: column;
    width: 90%;
    margin-top: 5rem;
    height: auto;
  }

  #contactoForm {
    margin-top: 5rem;
  }

  #infoEmail,
  #infoPhone,
  #infoAddress {
    margin: 3rem 0;
    z-index: 10000;
  }

  #infoEmail::after,
  #infoPhone::after,
  #infoAddress::after {
    top: -2rem;
    left: -30%;
  }

  #main-container {
    width: 90%;
    height: 85vh;
  }

  #main-container h3 {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0 1rem 0;
  }

  #main-container p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 2rem;
  }

  .container {
    padding: 0 0;
  }

  #contactoForm input,
  #contactoForm textarea {
    width: 100%;
  }

  #contactoForm button {
    width: 100%;
  }

  #serviciosTitle,
  #valoresTitle,
  #contactoTitle {
    font-size: 1.4rem;
    line-height: 1.2;
    color: var(--main-color-yellow);
    padding: 0 10%;
  }

  #serviciosText,
  #valoresText,
  #contactoText {
    font-size: 1.2rem;
    padding: 0 5%;
    color: var(--main-color-grey);
    text-align: center;
  }

  #footerContainer {
    padding: 10% 5%;
    height: auto;
  }
}

@media screen and (max-width: 380px) {

  #lubricantesContainer {
    height: 120vh;
  }

  #contactoContainer {
    height: 250vh;
  }
}